/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body Style */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
}

/* Navigation Bar */
nav {
    display: flex;                      /* Use Flexbox for layout */
    justify-content: space-between;     /* Distribute items evenly */
    align-items: center;                /* Center items vertically */
    background: white;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;                      /* Display list items in a row */
    width: 100%;                         /* Make the list take up the full width */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 100;
    font-size: 35px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav-right {
    display: flex;
    justify-content: space-between;
}

.nav-right li {
    margin: 0 10px;
}

/* Container */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text p {
    font-size: 1.2rem;
    line-height: 1.5;
}
/* Top Section */
.top-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 40px;
}


.featured-text {
    width: 100%;
    max-width: 800px;
    text-align: left;  /* Ensuring text is right-aligned */

    margin-left:250px

}

.featured-text p {
    margin: 5px 0;
    color: #333;
    font-size: 1.2rem;

}

.featured-text h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333;
    font-size: 1.1rem;
    font-style: italic;

}

.featured-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    
}


/* Footer */
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}